{% extends '@OptimeEmail/layout.html.twig' %}

{% block page_header 'Emails Config' %}

{% block page_header_actions %}
    <a href="{{ path('optime_emails_config_list') }}" class="btn btn-primary">Back</a>
{% endblock page_header_actions %}

{% form_theme form 'bootstrap_5_layout.html.twig' _self %}

{% block content %}

    {{ form_start(form) }}
    {# {{ form_row(form.code) }} #}
    {# {{ form_row(form.description) }} #}
    {# {{ form_row(form.layout) }} #}
    {{ form_widget(form) }}

    <hr>

    <input class="btn btn-primary" type="submit" value="Save">

    {{ form_end(form) }}

    <div class="modal fade" id="modal-form-layout" data-ajax-modal tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Layout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="layout-form-ajax">
                    ...
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-preview-layout" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Layout Preview</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe width="100%" style="min-height: 600px"></iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block _email_master_form_layout_widget %}
    <div class="d-flex">
        <div class="flex-grow-1">
            {{ form_widget(form) }}
        </div>
        <button class="btn btn-outline-primary ms-2"
                id="btn-preview-layout"
                data-url="{{ path('optime_emails_layout_preview', {uuid: '__uuid__'}) }}"
        >Show Template
        </button>
        <button class="btn btn-secondary ms-2" id="btn-refresh-layout">Refresh</button>
        <button class="btn btn-info ms-2"
                id="btn-create-layout"
                data-ajax-form="#layout-form-ajax"
                data-url="{{ path('optime_emails_layout_create') }}">
            Create
        </button>
    </div>
{% endblock _email_master_form_layout_widget %}

{% block javascripts_bottom %}
    {{ parent() }}
    <script>
        {{ include('@OptimeUtil/_ajax_form.js.twig') }}

        $(function () {
            function adjustLayoutTextareas() {
                $("#modal-form-layout .translatable-content-row textarea").prop('rows', 5);
            }

            $("#btn-create-layout").on('ajax_form.load', adjustLayoutTextareas);
            $("#modal-form-layout").on('ajax_form.fail', 'form', adjustLayoutTextareas);
            $("#modal-form-layout").on('ajax_form.done', 'form', refreshLayoutInput);

            function refreshLayoutInput(e) {
                e && e.preventDefault();
                $.get('{{ app.request.requestUri }}').done(html => {
                    $("#{{ form.layout.vars.id }}").replaceWith($(html).find("#{{ form.layout.vars.id }}"))
                });
            }

            $("#btn-refresh-layout").on('click', refreshLayoutInput);

            $("#btn-preview-layout").on('click', e => {
                e.preventDefault();
                const layout = $("#{{ form.layout.vars.id }}").val();

                if (!layout) {
                    return;
                }

                $("#modal-preview-layout .modal-body iframe").prop(
                    'src',
                    $(e.currentTarget).data('url').replace('__uuid__', layout)
                );

                $("#modal-preview-layout").modal('show');
            });
        });
    </script>
{% endblock javascripts_bottom %}
