{% extends '@OptimeEmail/layout.html.twig' %}

{% block page_header 'Emails Logs' %}

{% set pagination %}
    {{ knp_pagination_render(
        items,
        '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig',
        [],
        {align: 'right'}
    ) }}
{% endset %}

{% form_theme form_filter 'bootstrap_5_layout.html.twig' %}

{% block content %}

    <div>
        {{ form_start(form_filter) }}
        {# <div class="row"> #}
        <div class="row mb-4">
            <div class="col-9 col-xl-10">
                <div class="row email-form-filter">
                    <div class="col-5 border-end border-bottom">
                        <div class="row">
                            <div class="col-12">{{ form_row(form_filter.subject) }}</div>
                            <div class="col-7">{{ form_row(form_filter.recipient) }}</div>
                            <div class="col-5">{{ form_row(form_filter.send_at) }}</div>
                            <div class="col-12">{{ form_row(form_filter.log_id) }}</div>
                        </div>
                    </div>
                    <div class="col border-end border-bottom email-form-filter-checkboxs">
                        {{ form_row(form_filter.status) }}
                    </div>
                    <div class="col border-end border-bottom email-form-filter-checkboxs">
                        {{ form_row(form_filter.config) }}
                    </div>
                    {% if form_filter.app is defined %}
                        <div class="col border-end border-bottom email-form-filter-checkboxs">
                            {{ form_row(form_filter.app) }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-3 col-xl-2 d-grid gap-2 align-self-start">
                <input type="submit" value="Search" class="btn btn-primary">
                <a href="{{ path('optime_emails_log_list') }}" class="btn btn-outline-secondary">Clear</a>
            </div>
        </div>
        {{ form_end(form_filter) }}
    </div>

    {{ pagination }}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th class="col-4 col-xl-3">Email Info</th>
                <th class="text-center" style="width: 120px">Status</th>
                <th>Recipient</th>
                <th class="d-none d-xl-table-cell">Session User</th>
                <th>Send At</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr class="align-middle">
                    <td>
                        <small>
                            {{ item.emailCode }}
                            {% if item.locale is not empty %}({{ item.locale }}){% endif %}
                            {% if item.resend %}<i>[Resend]</i>{% endif %}
                        </small>
                        <div class="border-top">
                            {{ item.subject|default('---') }}
                        </div>
                    </td>
                    <td>
                        <div class="d-grid px-3">
                            <button type="button"
                                    {% if item.failureMessage is not empty %}
                                        class="d-block btn btn-outline-danger"
                                        data-bs-toggle="popover"
                                        data-bs-placement="top"
                                        data-bs-trigger="focus"
                                        data-bs-content="{{- item.failureMessage|e('html_attr') -}}"
                                    {% else %}
                                        class="d-block btn btn-outline-secondary" disabled
                                    {% endif %}
                            >{{ item.status.toString() }}</button>
                        </div>
                    </td>
                    <td>{{ item.recipient }}</td>
                    <td class="d-none d-xl-table-cell">
                        {{ item.sessionUserIdentifier|default('Anonymous User') }}
                    </td>
                    <td>
                        <span>
                            {{ item.dates.createdAt|date('Y/m/d H:i:s') }}
                        </span>
                    </td>
                    <td class="text-center">
                        {% if item.status.send %}
                            <a target="_blank" href="{{ path('optime_emails_log_show', {uuid: item.uuid}) }}">Show</a>
                        {% elseif(item.canResend()) %}
                            <a href="{{ path('optime_emails_log_resend', {uuid: item.uuid}) }}"
                               class="ms-2"
                               onclick="return confirm('Are you sure to resend this email?')">Resend</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100">No items found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ pagination }}

{% endblock %}