{% extends '@OptimeEmail/layout.html.twig' %}

{% block page_header 'Email Template Form' %}

{% block page_header_actions %}
    <a href="{{ path('optime_emails_template_list') }}" class="btn btn-primary">Back</a>
{% endblock page_header_actions %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% set form_contents %}
    <ul class="nav nav-pills mb-3" id="email-contens-tab" role="tablist">
        {% for locale, subject in form.subject %}
            {% set has_error = not subject.vars.valid or not form.content[locale].vars.valid %}
            <li class="nav-item {{ has_error ? 'border-danger border-2 border-bottom pb-2 me-2' }}">
                <button class="nav-link {{ loop.first ? 'active' }}"
                        data-bs-toggle="pill"
                        data-bs-target="#locale-item-{{ locale }}"
                        type="button"
                        role="tab">
                    {{ locale|upper }}
                </button>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content" id="pills-tabContent">
        {% for locale, subject in form.subject %}
            <div class="tab-pane fade {{ loop.first ? 'show active' }}" id="locale-item-{{ locale }}">
                {{ form_label(form.subject) }}
                {{ form_row(subject, {label: false}) }}
                {{ form_label(form.content) }}
                {{ form_row(form.content[locale], {label: false}) }}
            </div>
        {% endfor %}
    </div>
{% endset %}

{% block content %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    {{ form_contents }}

    <hr>

    <input class="btn btn-primary" type="submit" value="Save">

    {% if item.id is not empty %}
        <a href="{{ path('optime_emails_template_preview', {uuid: item.uuid}) }}"
           class="btn btn-secondary"
           target="_blank">Preview</a>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('@OptimeEmail/_import_codemirror.html.twig') }}
    <script>
        $(function(){
            $('#email-contens-tab [data-bs-toggle]').on('shown.bs.tab', (e) => $.applyCodeMirror());
        });
    </script>
{% endblock %}