{% extends '@OptimeEmail/layout.html.twig' %}

{% block page_header 'Emails Templates' %}

{% block page_header_actions %}
    <a href="{{ path('optime_emails_template_create') }}" class="btn btn-primary">Create</a>
{% endblock page_header_actions %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th style="width: 340px">ID</th>
                <th>Code</th>
                <th>Subject</th>
                <th>Status</th>
                <th class="col-2 col-md-1">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.uuid }}</td>
                    <td>{{ item.config.code }}</td>
                    <td>{{ item.subject }}</td>
                    <td>{{ item.active ? 'Active' : 'Inactive' }}</td>
                    <td>
                        <a href="{{ path('optime_emails_template_edit', {uuid: item.uuid}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}