{% extends '@OptimeEmail/layout.html.twig' %}

{% block page_header 'Email Preview' %}

{% block page_header_actions %}
    <a href="{{ path('optime_emails_template_list') }}" class="btn btn-outline-secondary">Back</a>
{% endblock page_header_actions %}

{# {% form_theme form 'bootstrap_5_layout.html.twig' %} #}

{% block content %}
    <form action="" method="post">

        {% embed '@OptimeEmail/_form_layout.html.twig' %}
            {% block form %}
                <label>Please, fill template variables:</label>
                <textarea name="variables" data-code-mirror data-mode="yaml">{{- vars -}}</textarea>

                {% if error is not empty %}
                    <div class="alert alert-danger">
                        <strong>Last error:</strong>
                        {{ error }}
                    </div>
                {% endif %}
            {% endblock %}
            {% block buttons %}
                <input class="btn btn-primary" type="submit" value="Preview">
            {% endblock %}
        {% endembed %}
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('@OptimeEmail/_import_codemirror.html.twig') }}
{% endblock %}
