{% extends '@OptimeEmail/layout.html.twig' %}

{% block page_header 'Email Send' %}

{% block page_header_actions %}
    <a href="{{ path('optime_emails_template_list') }}" class="btn btn-outline-secondary">Back</a>
{% endblock page_header_actions %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {% embed '@OptimeEmail/_form_layout.html.twig' %}
        {% block form %}
            {{ form_widget(form) }}
        {% endblock %}
        {% block buttons %}
            <input class="btn btn-primary" type="submit" value="Send">
            <hr class="d-none d-xl-block">
            <a href="{{ path('optime_emails_template_edit', {
                uuid: template.uuid,
            }) }}" class="btn btn-outline-secondary">Edit</a>
        {% endblock %}
    {% endembed %}
    {{ form_end(form) }}
{% endblock %}
