{% extends '@OptimeEmail/layout.html.twig' %}

{% block page_header 'Emails Layouts' %}

{% block page_header_actions %}
    <a href="{{ path('optime_emails_layout_list') }}" class="btn btn-outline-secondary">Back</a>
{% endblock page_header_actions %}

{% form_theme form '@OptimeUtil/form.html.twig' 'bootstrap_5_layout.html.twig' %}

{% block content %}
    {% ajax_view %}
        {{ form_start(form, {attr: { novalidate: true }}) }}
        {% embed '@OptimeEmail/_form_layout.html.twig' %}
            {% block form %}
                {{ form_row(form.description) }}
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
            {% endblock %}
            {% block buttons %}
                {{ parent() }}

                {% if layout.uuid is defined and layout.uuid is not empty %}
                    <hr class="d-none d-xl-block">

                    <a href="{{ path('optime_emails_layout_preview', {'uuid': layout.uuid}) }}"
                       class="btn btn-outline-secondary" target="_blank">Show Preview</a>
                {% endif %}

            {% endblock %}
        {% endembed %}
        {{ form_end(form) }}
    {% end_ajax_view %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('@OptimeEmail/_import_codemirror.html.twig') }}
{% endblock %}
